.app {
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}
.logo {
  width: 100px;
  margin: 0 10px;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}
.nav-items ul li {
  padding: 10px;
}
#woym ,.shimmer-container-2{
  margin: 50px 150px;
  gap: 30px;
}
#header1 ,.shimmer-container-2{
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
#header1::-webkit-scrollbar,.shimmer-container-2::-webkit-scrollbar {
  display: none;
}
.dishes {
  height: 200px;
}
.dishes img ,.shimmer-cards-2{
  cursor: pointer;
  width: 150px;
}
.shimmer-cards-2{
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #E4E4E4;
}
.underline {
  border-bottom: 1px solid #888;
}
.body,.shimmer-container-1 {
  margin: 20px 150px;
}
#restaurants,
.shimmer-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  margin-top: 30px;
}
.restcards,
.shimmer-cards-1 {
  width: 250px;
  height: 350px;
  cursor: pointer;
  line-height: 15px;
  padding: 5px;
}
.res-img,.shimmer-img-1 {
  width: 250px;
  height: 50%;
  border-radius: 10px;
}
#rating-time{
  display: flex;
  gap: 20px;
  line-height: 0px;
}
.restcards:hover {
  border: 1px solid black;
}
.filter-btn {
  cursor: pointer;
}

.shimmer-cards-1 {
  background-color: white;
}
.shimmer-img-1{
  background-color: #E4E4E4;
}
.shimmer-name-1{
  width: 40%;
  height: 15px;
  background-color: #E4E4E4;
  margin: 10px 0;
}
.shimmer-rating-time-1{
  margin: 20px 0;
  width: 50%;
  height: 15px;
  background-color: #E4E4E4;
}
.shimmer-cuisine-1{
  margin-bottom: 10px 0;
  width: 80%;
  height: 15px;
  background-color: #E4E4E4;
}
.filter{
  display: flex;
}

 .toggle-switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
    }
.toggle-feature{
  margin-left: 10px;
  color: #0f8a65;
}
    .toggle-switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* Styling for the toggle switch's slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    /* Styling for the toggle switch when it's checked */
    input:checked + .slider {
      background-color: #0f8a65;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }